@model IEnumerable<AraneaArchives.Models.Directory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DirectoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Read" asp-action="Index" asp-route-id="@item.DirectoryId">
                @Html.DisplayFor(modelItem => item.DirectoryName)
                    </a>
            </td>
            <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-action="Edit" asp-route-id="@item.DirectoryId">Edit</a>
                    }
                    |
                    <a asp-action="Details" asp-route-id="@item.DirectoryId">Details</a> |
                    @if (User.Identity.IsAuthenticated)
                    {
                <a asp-action="Delete" asp-route-id="@item.DirectoryId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
